html, body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

input:invalid{
    outline: 1px solid red;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.item-container{
    display: flex;
}

.item {
    background-color: rgb(201, 201, 201);
    border-radius: 1em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    margin: 1em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item img{
    width: 10em;
    height: 10em;
}

button{
    width: 10em;
    border: none;
    padding: 0.5em;
    background-color: rgb(68, 68, 209);
    border-radius: 1em;
    margin: 1em 1em;
    color: white;
}

.checkout-container{
    text-align: center;
}