<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example App - Landing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="item-container">
        <div class="item">
            <img src="https://static.vecteezy.com/system/resources/previews/005/892/013/non_2x/hand-drawn-guitar-doodle-icon-isolated-on-white-background-illustration-free-vector.jpg">
            <button><a href="/checkout">Order item</a></button>
        </div>
        <div class="item">
            <img src="https://static.vecteezy.com/system/resources/previews/005/892/013/non_2x/hand-drawn-guitar-doodle-icon-isolated-on-white-background-illustration-free-vector.jpg">
            <button><a href="/checkout-variable">Make Donation</a></button>
        </div>
        <h1>README</h1>
        <p>This is a basic implementation of card payments via the Pop-Up widget.</p>
        <p>The "Order Item" button leads to the flow as described in the requirements (1 GBP card payment via the Pop-Up)</p>
        <p>The "Make Donation" button leads to the same flow with the option to put in a variable amount to pay (as described in the bonus points section of requirements)</p>
    </div>
</body>
</html>